*{
    box-sizing: border-box;
}

.home-page{
    height: 90vh;
}

.app-header{
    font-family: fantasy;
    padding-left: 20px;
    padding-right: 20px;
    height: 7vh;;
    background-color: rgba(255, 0, 0, 0.589);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header nav{
    font-size: small;
    text-align: end;    
}

.app-header h3{
    font-size: xx-large;
    text-shadow: 2px 2px 2px whitesmoke;

}

.app-footer {
    margin-top: 20px;
    padding: 10px;
    background-color:  rgba(255, 0, 0, 0.589);
    font-family: fantasy;
    text-shadow: 2px 2px 2px whitesmoke;

}

.home-page{
    font-family: Arial, Helvetica, sans-serif;
}

.home-page img{
 width: 90%;
}

.about-page{
    height: 90vh;
}

body{
    background-color: rgb(170, 163, 163);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

.book-filter{
    padding: 20px;
    background-color: rgb(170, 163, 163);
}

.book-list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    font-family: fantasy;

}

img {
    width: 100px;
}

.book-preview-container {
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.589);
    width: 200px;
}

.book-details{
    padding: 20px;
    margin-top: 20px;
    background-color: whitesmoke;
    text-align: center;
}

.book-review{
    box-shadow: 1px 2px 2px 2px;
    width: 30%;
    text-align: center;
    margin: auto; 
    padding: 5px;   
}

.book-review input{
    width: 40px;
}

.reviews-list{
    list-style: none;
    padding: 3px; 
}

button{
    background-color: rgb(170, 163, 163);
}

.book-title{
    font-variant-caps: all-small-caps;
    font-size: 20px;

}

.red {
    color: red;
}

.green{
    color: green;
}

.sale{
    font-weight: bold;
    background-color: yellow;
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.read{
    box-shadow: 1px 2px 2px 2px black;
    font-size: 8px;
}

.shown{
    display: block;
    margin: auto;
}

.hidden{
    display: none;
}